<div class="container" >
  
    <div *ngIf="homepage"  align="center">

<h1>Benvenuto nell'applicazione desktop di Unicam-Tod's Progetto Colori!</h1><br><br>
<img src="logo.png" title="Prodotto da Università di Camerino" height="300" width="720" alt="unicam" id="unicam" />
    <br> <br>  <button type="button" class="btn btn-primary active" (click)="inserisci()" ><b>Inserisci colore</b></button>
     <button type="button" class="btn btn-primary active" (click)="checkQuality()" ><b>Controllo qualità</b></button>
    </div>
        <div *ngIf="risultatoQualita"  align="center">
             <h2>Prima cattura</h2>
            <div  align="center" class="rettangolo"[style.background-color]="primoScan"></div>
            <h2>Seconda cattura:</h2>
            <div  class="rettangolo" [style.background-color]="secondoScan"></div>
            <h1>DeltaE: {{qualita}}</h1>
            <button type="button" class="btn btn-primary active" (click)="checkQualityTre()" >Indietro</button>
            <button type="button" class="btn btn-primary active" (click)="checkQualityDue()" >Menù principale</button>
            </div>
    
       <div *ngIf="controlloQualita">
        <div id="primoform">
                <form #t="ngForm" (ngSubmit)="getColori1()">
                   
                    <div class="rettangolino" [style.background-color]="rGb"></div>
                    <div class="input-field col s6">
                        <div class="row">
                            <div class="input-field inline">
                                R:
                                <input type="text" class="form-control" name="codiceR1" [(ngModel)]="codiceR1" ngModel>
            
                            </div>
                            <div class="input-field inline">
                                G:
                                <input type="text" class="form-control" name="codiceG1" [(ngModel)]="codiceG1" ngModel>
            
                            </div>
                            <div class="input-field inline">
                                B:
                                <input type="text" class="form-control" name="codiceB1" [(ngModel)]="codiceB1" ngModel>
            
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer orange accent-2 right">
            
                 
                        <button  type="submit" class="btn btn-primary active">Scan</button>
                    </div>
                </form>
                <div id="secondoform">
                        <form #t="ngForm" (ngSubmit)="getColori2()">
                           
                            <div class="rettangolino" [style.background-color]="rGb"></div>
                            <div class="input-field col s6">
                                <div class="row">
                                    <div class="input-field inline">
                                        R:
                                        <input type="text" class="form-control" name="codiceR2" [(ngModel)]="codiceR2" ngModel>
                    
                                    </div>
                                    <div class="input-field inline">
                                        G:
                                        <input type="text" class="form-control" name="codiceG2" [(ngModel)]="codiceG2" ngModel>
                    
                                    </div>
                                    <div class="input-field inline">
                                        B:
                                        <input type="text" class="form-control" name="codiceB2" [(ngModel)]="codiceB2" ngModel>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer orange accent-2 right">
                         
                        
            
                                <button type="submit" class="btn btn-primary active">Scan</button>
                            </div>
                        </form>
            </div>
            <form #t="ngForm" (ngSubmit)="quality()">
                    
            <button type="button" class="btn btn-primary active">Reset</button>
            <button type="submit" class="btn btn-primary active">Avanti</button>
        </form>
    </div>
  
</div>











<div class="container" *ngIf="nuovoColore">


<h1>Inserisci un nuovo colore</h1>
<br>


<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form" id="form">
    
<h4>Menù inserimento colore</h4>
<div *ngIf = 'categorieMerceologiche'>  
    <form #t="ngForm" (ngSubmit)="prendiTb()">  
<p>
    <select class="form-control" (change)="cambia($event)">
            <option selected="selected">
                    Seleziona una categoria merceologica
                    </option>
        <option *ngFor="let value of cmp; let indx = index" [value]="value.name">{{value.name}}</option>
            </select>
    <!--input name="group2" type="radio" [id]="value.name" [value]="value.name" ngModel/>
    <label [for]='value.name'> {{value.name}}</label-->
</p>
<button type="submit" class="btn btn-primary active"> Avanti </button>
<button type="button" class="btn btn-primary active" (click)="inserisci()" >Menu principale</button>
    </form>
</div>

<div *ngIf="sottoCategorie">
    <form #t="ngForm" (ngSubmit)="prendiSottoCm()">

        <div id='answerform'>
          
            <p> Categoria merceologica: {{nometb}}</p>
            <p>
                <select class="form-control" (change)="cambia($event)">
                        <option selected="selected">
                                Seleziona una sottocategoria merceologica
                                </option>
                            <option *ngFor="let value of sottocat ; let indx = index" [value]="value">{{value}}</option>
                                </select>
           
            </p>
        </div>
        <div class="modal-footer orange accent-2 right">
            <button type="button" class="btn btn-primary active" (click)="reset()"> Reset </button>
            <button type="submit" class="btn btn-primary active"> Avanti </button>
        </div>
    </form>

</div>



 <!--Codice Neutro-->

 <div *ngIf="codiceNeutro">
    <form #t="ngForm" (ngSubmit)="prendiCodiceNeutro()">

        <div id='answerform'>
            <p> Tabella: {{nometb}} - Sottocm: {{sottocm}}</p>
            <p>
                <select class="form-control" (change)="cambia($event)">
                        <option selected="selected">
                                Seleziona un codice neutro
                                </option>
                            <option *ngFor="let value of codiceNeutroList ; let indx = index"  [value]="value">{{value}}</option>
                                </select>

             
            </p>
        </div>
        <div class="modal-footer orange accent-2 right">
            <button type="button" class="btn btn-primary active" (click)="reset()"> Reset </button>
            <button type="submit" class="btn btn-primary active"> Avanti </button>
        </div>
    </form>

</div>
 <!--CODICE COLORE-->

 <div *ngIf="codiceColore">
    <form #t="ngForm" (ngSubmit)="prendiColore(t.value)">

        <div id='answerform'>
           
            <p>{{nometb}} - Sottocm:{{sottocm}} - CODICE NEUTRO:{{idMaster}}</p>
            <p>
                <select class="form-control" (change)="cambia($event)">
                            <option selected="selected">
                                    Seleziona un codice colore
                                    </option>
                                <option *ngFor="let value of listaCodici ; let indx = index"  [style.background-color]="value.h" [value]="value.codice">{{value.codice}}</option>
                                    </select>
            
            </p>
        </div>
        <div class="modal-footer orange accent-2 right">
            <button type="button" class="btn btn-primary active" (click)="reset()"> Reset </button>
            <button type="submit" class="btn btn-primary active"> Avanti </button>
        </div>
    </form>

</div>

<!--CONFRONTO-->
<div *ngIf="mostraConfronto">
    <form #t="ngForm" (ngSubmit)="prendiDeltaE(t.value)">
        <p> Tabella: {{nometb}} - Sottocm: {{sottocm}} - CODICENEUTRO: {{idMaster}} - CODICECOLORE: {{codiceCol}} </p>
        <p> Colore Già Presente: {{rgbString}}, Data Inserimento: {{data}}, Colore: </p>
        <div class="rettangolino" [style.background-color]="rGb"></div>
        <div class="input-field col s6">
            <div class="row">
                <div class="input-field inline">
                    R:
                    <input type="text" class="form-control" name="codiceR" [(ngModel)]="codiceR" ngModel>

                </div>
                <div class="input-field inline">
                    G:
                    <input type="text" class="form-control" name="codiceG" [(ngModel)]="codiceG" ngModel>

                </div>
                <div class="input-field inline">
                    B:
                    <input type="text" class="form-control" name="codiceB" [(ngModel)]="codiceB" ngModel>

                </div>
            </div>
        </div>
        <div class="modal-footer orange accent-2 right">
            <button *ngIf="mostraConfronto" type="button" class="btn btn-primary active" (click)="indietro()"> Indietro </button>
            <button *ngIf="mostraConfronto" type="button" class="btn btn-primary active" (click)="reset()"> Ricomincia </button>
            <button *ngIf="mostraConfronto" type="button" class="btn btn-primary active" (click)="confronta()"> Scan </button>
            <button *ngIf="mostraConfronto" type="submit" class="btn btn-primary active">Avanti</button>
        </div>
    </form>

</div>


    <!--MODAL CONFRONTO-->
    <div *ngIf="confronto">
                <p> Tabella: {{nometb}} - Sottocm: {{sottocm}} - CODICENEUTRO: {{idMaster}} - CODICECOLORE: {{codiceCol}} </p>
                <div class="input-field col s6">
                    <div class="row">
                        <table>
                            <tr>
                                <td><b>Colore già Presente</b></td>
                                <td>{{rgbString}}</td>
                                <td>
                                        <div class="rettangolino" [style.background-color]="rGb"></div>
                                </td>
                                <td>{{data}}</td>
                            </tr>
                            <tr>
                                <td><b>Colore Scansionato</b></td>
                                <td> R: {{codiceR}} G: {{codiceG}} B: {{codiceB}}</td>
                                <td>
                                    <div class="rettangolino" [style.background-color]="rgbScan"></div>
                                </td>
                            </tr>
                        </table>
                        <h5>Delta E: {{deltaE}}</h5>
                        <input type="text" class="form-control" placeholder="note" name="note" [(ngModel)]="note" ngModel>
                    </div>
                </div>
                <h5 style="align-content: center">Vuoi continuare con l'inserimento?</h5>
            </div>
        
            <div class="modal-footer orange accent-2 center">
                <button *ngIf="confronto" type="button" class="btn btn-primary active" (click)="negativo()"> No </button>
                <button *ngIf="confronto" type="button" class="btn btn-primary active" (click)="inserimento()">Inserisci</button>
            </div>

 <!--RGB-->

 <div *ngIf="rgb">
         <p> Tabella: {{nometb}} - Sottocm: {{sottocm}} - CODICENEUTRO: {{idMaster}} - CODICECOLORE: {{codiceCol}} </p>
    <div class="input-field col s6">
        <div class="row">
            <div class="input-field inline">
                R:
                <input type="text" class="form-control" name="codiceR" [(ngModel)]="codiceR" ngModel>

            </div>
            <div class="input-field inline">
                G:
                <input type="text" class="form-control" name="codiceG" [(ngModel)]="codiceG" ngModel>

            </div>
            <div class="input-field inline">
                B:
                <input type="text" class="form-control" name="codiceB" [(ngModel)]="codiceB" ngModel>

            </div>
            <div class="input-field inline">
                <div class="rettangolino" [style.background-color]="stringacolore"></div>
            </div>
            <input type="text" class="form-control" placeholder="note" name="note" [(ngModel)]="note" ngModel>

        </div>
    </div>

    {{avviso}}
</div>


<div class="modal-footer orange accent-2 right">
    <button *ngIf="rgb" type="button" class="btn btn-primary active" (click)="indietro()"> Indietro </button>
    <button *ngIf="rgb" type="button" class="btn btn-primary active" (click)="reset()"> Ricomincia </button>
    <button *ngIf="rgb" type="button" class="btn btn-primary active" (click)="getColoriDaSensore()"> Scan </button>
    <button *ngIf="rgb" type="submit" class="btn btn-primary active">Inserisci</button>
</div>
</form>
</div>
